<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- 🎈🐀 -->
	<meta name="generator" content="eleventy">

	<title>{% if title %}{{ title }} | {% endif %}{{ site.title }}</title>

	<meta name="title" content="{{ site.title }}">

	<style>
		{{ styles.global | safe }}
		{{ styles.composition | safe }}
		{{ styles.utilities | safe }}
		{{ styles.blocks | safe }}
	</style>
</head>
<body>
	<main class="[ center container ][][]">
		{{ content | safe }}
	</main>
</body>
</html>
